*.log
.DS_Store
node_modules
.cache
dist
.idea

.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

examples/.pnp.*
examples/.yarn/*
!examples/.yarn/patches
!examples/.yarn/plugins
!examples/.yarn/releases
!examples/.yarn/sdks
!examples/.yarn/versions

test/cypress/videos
test/cypress/screenshots