.autoPlayNextSound {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.autoPlayNextSound a {
    margin-bottom: 25px;
}

.autoPlayNextSound__player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    padding: 8px;
    margin-right: 4px;
}

.trackList {
    border: 1px solid lightblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 16px;
}

.trackList__title {
    margin-bottom: 4px;
}

.trackList__song--selected {
    font-weight: bolder;
    color: lightcyan;
    text-decoration: underline;
}

.autoPlayNextSound__controls {
    display: flex;
    margin-bottom: 16px;
}