.basicExample {
    padding: 20px;
}

.audioSeekBar {
    height: 30px;
    width: 200px;
    cursor: pointer;
    background-color: white;
}

.audioSeekBar__tick {
    background-color: #a1d0d1;
    height: 30px;
}

.errorMessage {
    color: red;
    font-weight: bold;
}