* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #272a51;
    color: #e1fdff;
    font-weight: 400;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    display: block;
    color: #79b7c0;
}
a:hover {
    color: #5593aa;
}

h4, h5, h6 {
    margin-bottom: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: calc(100% - 125px);
    padding: 25px;

    &__title {
        font-size: xx-large;
        font-weight: 200;
        margin-bottom: 50px;
    }
}

.hstack {
    display:flex;
    align-items: center;
}

/*
#e1fdff
#e5f9f9
#e9f3f3
#ddeaea
#c4dfde
#a1d0d1
#79b7c0
#5593aa
#3a6891
#324672
#272a51
#1c192f
*/